# Dependencies
node_modules/
jspm_packages/
.pnp.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock
.nyc_output

# Build/Coverage
coverage
dist
build/Release
.next
.nuxt
.cache

# Environment
.env
.env.test

# IDE/Tools
.vscode
.idea
.eslintcache
